<!--<div class="col-md-4">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" class="radio" name="fb" value="small" />
                                <img class="img-rounded img-responsive grow" src="http://images.crateandbarrel.com/is/image/Crate/CavettChairTwineSHF15_1x1">
                            </label>
                            <label>
                                <input type="radio" class="radio" name="fb" value="small" />
                                <img class="img-rounded img-responsive grow" src="http://images.crateandbarrel.com/is/image/Crate/CavettLthrChairSHS15_1x1">
                            </label>
                            <label>
                                <input type="radio" class="radio" name="fb" value="small" />
                                <img class="img-rounded img-responsive grow" src="http://images.crateandbarrel.com/is/image/Crate/DurhamChairHalfSapphireSHS16_1x1">
                            </label>
                        </div>
                    </div>-->
                    
                <div class="row">
                    <pre>
                    <h3 class="text-center">Which suit looks best?</h3>
                    </pre><br>
                </div>
                <div class="img-rounded row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <a href="#"><img class="img-rounded img-responsive grow" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/OERP9XI9YB.jpg"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <a href="#"><img class="img-rounded img-responsive grow" src="http://i.imgur.com/jD8H0mC.jpg"></a>
                        </div>
                    </div>
                </div> 