<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
        <div class="container-background container-fluid">
            <br><br><br><br>
            <div class="row qhead">
                <br><br>
                <h3 class="text-center"><b>YOU ASK A QUESTION...</b></h3>
                <br><br>
            </div>
            <br><br>
            <div class="row ">
                <br><br>
                <img class="center-block" src="../static/banner.png">
                <br><br>
            </div>
            
            <br><br>
            <div class="row qhead">
                <br><br>
                <h3 class="text-center"><b>AND PEOPLE <em>VOTON</em> IT.</b></b></h3>
                <br><br>
            </div>
        </div>
        <br><br><br><br>
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container-background container-fluid">
                    <div class="panel panel-default">
                        <div class="question-head panel-heading"><strong>Enter A Question Below...</strong></div>
                        <div class="panel-body question">
                            <form id="upload-form" method="POST" action="/upload" enctype="multipart/form-data">
                                <br><br>
                                <div class="row img-rounded">
                                    
                                    <h3 class="text-center"><b><h2>Make a Question</h2></b></h3>
                                </div>
                                <br>
                                <br>
                                <textarea name="question" cols="70" rows="3" placeholder="Eg. Which tie best matches my suit?" class="form-control center-block"></textarea>
                                <br>
                                <h4>Paste two image links to compare:</h4><br>
                                <label for="url1">Image Url 1</label>
                                <input type="url" name="image1" id="url1"><br><br>
                                <label for="url2">Image Url 2</label>
                                <input type="url" name="image2" id="url2"><br><br>
                                <label for="upload"><h4>Or Upload 2 images:</h4></label><br><br>
                                <input type="file" name="file" accept="image/*" id="upload" multiple>
                                <br>
                                <input type="submit" class="btn btn-primary center-block" value="Submit Question">
                                <br>
                                <input type="reset" class="btn btn-default center-block" value="Clear">
                            </form>
                            <h4>Or drag and drop 2 images below</h4>
                                <div class="upload-drop-zone" id="drop-zone">
                                    Just drag and drop files here
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        
{% endblock %}