<html>
 <head>
<title>Pick it</title>
 </head>
 <body bgcolor=#ffffff >

<h3>Pick it!</h3>

<form method="post" action="mailto:raizen@mail.utexas.edu?subject=pick it 1" enctype="text/plain">

Check the answer to each multiple-coice question, and click on the "Send Form" button to submit the information.

<P>1. The chair should I choose" is:<BR>
<label>
<input type="radio" name="fb" value="small" />
<img src="http://images.crateandbarrel.com/is/image/Crate/CavettChairTwineSHF15_1x1">
</label>
<label>
 <input type="radio" name="fb" value="small" />
 <img src="http://images.crateandbarrel.com/is/image/Crate/CavettLthrChairSHS15_1x1">
</label>
<p><label>
 <input type="radio" name="fb" value="small" />
 <img src="http://images.crateandbarrel.com/is/image/Crate/DurhamChairHalfSapphireSHS16_1x1">
</label></p>
</p>

<P>2. The Pokeman I should choose is" is:<BR>
<label>
 <input type="radio" name="fb" value="small" />
 <img src="http://images.clipartpanda.com/pokemon-clip-art-clip-art-pokemon-014810.jpg">
</label>
<label>
 <input type="radio" name="fb" value="small" />
 <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full//001.png">
</label>
<label>
 <input type="radio" name="fb" value="small" />
 <img src="http://static.giantbomb.com/uploads/scale_small/0/6087/2438704-1202149925_t.png">
</label>
</p>

<P>3. Which suit looks better?:<BR>
<label>
 <input type="radio" name="fb" value="small" />
 <img src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/OERP9XI9YB.jpg">
</label>
<p><label>
 <input type="radio" name="fb" value="median" />
 <img src="http://i.imgur.com/jD8H0mC.jpg">
</label></p>
</p>

<br>
<br>
<br>
<br>
<input type="submit" value="Send Form">
<input type="reset" value="Clear Form">
</form>
</body>
</html>